/* Reset */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-gray-100 flex flex-col items-center justify-around min-h-screen relative;
}

.wrapper {
  @apply min-h-screen flex flex-col justify-center items-center;
}

.canvas {
  @apply fixed z-[-1];
}

.container {
  @apply z-10 max-w-screen-md bg-white rounded-lg shadow-md p-8 mt-20 relative;
}

.container::before,
.container::after {
  @apply content-[''];
  @apply absolute top-0 bottom-0 w-1/2;
  background-image: url('/Users/ynehra/Desktop/Projects!/pngtree-cartoon-stick-drawing-conceptual-illustration-of-man-pointing-down-to-something-png-image_5195353.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @apply z-[-1];
}

.container::before {
  @apply left-[-50%];
}

.container::after {
  @apply right-[-50%];
}

h1 {
  @apply text-center text-lg text-gray-700 mb-8;
}

#quote-container {
  @apply mb-4 text-gray-600 text-base italic;
}

form {
  @apply flex justify-between items-center mb-4;
}

label {
  @apply w-1/3 text-gray-700 text-base;
}

input[type="text"] {
  @apply flex-1 flex-shrink-0 p-2 text-base border border-gray-300 rounded transition duration-200 focus:border-gray-400;
}

input[type="text"]:hover {
  @apply border-gray-400;
}

button {
  @apply inline-block px-4 py-2 text-base font-medium text-white bg-blue-600 border border-transparent rounded cursor-pointer transition duration-200 hover:bg-blue-700;
}

#message {
  @apply text-center font-bold text-gray-700 mb-2;
}

#attempts {
  @apply text-gray-600;
}

#image-container {
  @apply absolute bottom-0 left-0 right-0 w-1/2 m-auto bg-white border border-gray-300 rounded-lg shadow-md transform transition duration-300 ease-in-out -translate-y-full;
}

#guess:focus + #image-container {
  @apply -translate-y-0;
}

#image-container img {
  @apply w-full;
}

.abs-site-link {
  @apply fixed bottom-20 left-20;
  @apply text-[hsla(0,0%,0%,.6)] text-base;
}

/* Additional styles */
.quote-container {
  @apply bg-gray-100 p-4;
}

#guess {
  @apply border border-gray-400 rounded p-2;
}

#guess-form {
  @apply flex flex-col gap-3;
}

#message {
  @apply text-red-500; /* Change color for messages */
}

#score-display {
  @apply font-bold;
}

#hint-button {
  @apply bg-gray-800 text-white py-2 px-4 rounded cursor-pointer;
}
