/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles for specific elements */
.container {
  max-width: 600px; /* Adjust as needed */
}

.quote-container {
  background-color: #f5f5f5;
  padding: 20px;
}

#guess {
  border-color: #ddd;
}

#guess-form {
  @apply flex flex-col gap-3;
}

#message {
  color: #f00; /* Change color for messages */
}

#score-display {
  font-weight: bold;
}

#hint-button {
  background-color: #333; /* Change hint button color */
}
